In [1]:
import numpy as np
import pandas as pd

In [2]:
df_2d_val = pd.read_csv('resources/results/2D/cv_val_prediction.csv', index_col=0)
df_2d_test = pd.read_csv('resources/results/2D/test_prediction.csv', index_col=0)

In [3]:
df_2d = pd.concat([df_2d_val, df_2d_test])

In [4]:
_index_list = list(df_2d.index)
index_list = [i.split('_')[0] for i in _index_list]
index_set = set(index_list)
len(index_set)

198

In [7]:
data_2d_0 = {}
data_2d_1 = {}

In [9]:
for row in df_2d.itertuples():
    index = row.Index
    pred = row.Pred
    label = row.Label

    if label == 0:
        pre_index = index.split('_')[0]
        if pre_index not in list(data_2d_0.keys()):
            data_2d_0[pre_index] = []
        data_2d_0[pre_index].append(pred)
    else:
        pre_index = index.split('_')[0]
        if pre_index not in list(data_2d_1.keys()):
            data_2d_1[pre_index] = []
        data_2d_1[pre_index].append(pred)

In [10]:
len(data_2d_0.keys()), len(data_2d_1.keys())

(119, 79)

In [13]:
df_2d_merged_data_0 = {
    'patient_ID': [],
    'Pred': [],
    'Label': []
}

df_2d_merged_data_1 = {
    'patient_ID': [],
    'Pred': [],
    'Label': []
}

In [14]:
for key in data_2d_0.keys():
    Pred_value = np.median(np.array(data_2d_0[key]))
    df_2d_merged_data_0['patient_ID'].append(key)
    df_2d_merged_data_0['Pred'].append(Pred_value)
    df_2d_merged_data_0['Label'].append(0)

In [15]:
for key in data_2d_1.keys():
    Pred_value = np.median(np.array(data_2d_1[key]))
    df_2d_merged_data_1['patient_ID'].append(key)
    df_2d_merged_data_1['Pred'].append(Pred_value)
    df_2d_merged_data_1['Label'].append(1)

In [16]:
df1 = pd.DataFrame(df_2d_merged_data_0)
df2 = pd.DataFrame(df_2d_merged_data_1)

In [17]:
df2

      patient_ID      Pred  Label
0     2005050152  0.859328      1
1     2006180711  0.149250      1
2     2006260667  0.139854      1
3     2006260791  0.903943      1
4     2007020957  0.922270      1
..           ...       ...    ...
74  231113447942  0.704068      1
75  231121758369  0.956841      1
76    2201141069  0.970033      1
77    2309210576  0.105594      1
78  231024231775  0.354447      1

[79 rows x 3 columns]

In [18]:
df1

     patient_ID      Pred  Label
0    2004030366  0.147626      0
1    2004070156  0.336677      0
2    2005131682  0.007298      0
3    2005180570  0.410370      0
4    2005210964  0.101178      0
..          ...       ...    ...
114  2204010630  0.222111      0
115  2303311257  0.772745      0
116  2303311357  0.373699      0
117  2306191355  0.246615      0
118  2310085301  0.224631      0

[119 rows x 3 columns]

In [19]:
df = pd.concat([df1, df2], axis=0)
df

      patient_ID      Pred  Label
0     2004030366  0.147626      0
1     2004070156  0.336677      0
2     2005131682  0.007298      0
3     2005180570  0.410370      0
4     2005210964  0.101178      0
..           ...       ...    ...
74  231113447942  0.704068      1
75  231121758369  0.956841      1
76    2201141069  0.970033      1
77    2309210576  0.105594      1
78  231024231775  0.354447      1

[198 rows x 3 columns]

In [20]:
df.to_csv('ML_2d.csv', index=False)

In [21]:
## Read merged results

In [22]:
df_ML_2d = pd.read_csv('ML_2d.csv', dtype={'patient_ID': str})
df_source = pd.read_excel('data.xlsx', dtype={'ID': str})

In [23]:
df_source['ML_Pred_2d'] = None

In [24]:
for i, index1 in enumerate(df_source['ID']):
    for j, index2 in enumerate(df_ML_2d['patient_ID']):
        if str(index1) == str(index2):
            df_source.iloc[i, 7] = df_ML_2d.iloc[j, 1]

In [25]:
df_source

,ID,ceus,Thickness,t,type,ca199,label,ML_Pred_2d
0,2004200282,2,0.9,2,bulging type,6.14,0,None
1,2005210964,3,0.5,1,ulcerative type,6.04,0,0.101178
2,2008040364,2,2.8,3,ulcerative type,8.45,1,0.515748
3,2008110235,2,1.7,3,ulcerative type,16.00,0,0.395328
4,2008201013,3,1.3,3,ulcerative type,45.60,1,0.360092
...,...,...,...,...,...,...,...,...
192,231113447942,2,1.5,2,ulcerative type,18.70,1,0.704068
193,231117032776,3,1.1,3,bulging type,7.44,0,0.407989
194,231121758369,3,1.5,3,ulcerative type,35.20,1,0.956841
195,231123534082,3,2.4,4,bulging type,23.20,1,None
196,231124129584,1,1.7,4,ulcerative type,8.09,0,0.669481

In [26]:
df_source.to_csv('data_Pred_2d.csv', index=False)