In [59]:
import numpy as np
import pandas as pd

In [60]:
df_ceus_val = pd.read_csv('resources/results/ceus/cv_val_prediction.csv', index_col=0)
df_ceus_test = pd.read_csv('resources/results/ceus/test_prediction.csv', index_col=0)

In [61]:
df_ceus = pd.concat([df_ceus_val, df_ceus_test])

In [62]:
_index_list = list(df_ceus.index)
index_list = [i.split('_')[0] for i in _index_list]
index_set = set(index_list)
len(index_set)

186

In [63]:
data_ceus_0 = {}
data_ceus_1 = {}

In [64]:
for row in df_ceus.itertuples():
    index = row.Index
    pred = row.Pred
    label = row.Label

    if label == 0:
        pre_index = index.split('_')[0]
        if pre_index not in list(data_ceus_0.keys()):
            data_ceus_0[pre_index] = []
        data_ceus_0[pre_index].append(pred)
    else:
        pre_index = index.split('_')[0]
        if pre_index not in list(data_ceus_1.keys()):
            data_ceus_1[pre_index] = []
        data_ceus_1[pre_index].append(pred)

In [65]:
len(data_ceus_0.keys()), len(data_ceus_1.keys())

(109, 77)

In [66]:
df_ceus_merged_data_0 = {
    'patient_ID': [],
    'Pred': [],
    'Label': []
}

df_ceus_merged_data_1 = {
    'patient_ID': [],
    'Pred': [],
    'Label': []
}

In [67]:
for key in data_ceus_0.keys():
    Pred_value = np.min(np.array(data_ceus_0[key]))
    df_ceus_merged_data_0['patient_ID'].append(key)
    df_ceus_merged_data_0['Pred'].append(Pred_value)
    df_ceus_merged_data_0['Label'].append(0)

In [68]:
for key in data_ceus_1.keys():
    Pred_value = np.max(np.array(data_ceus_1[key]))
    df_ceus_merged_data_1['patient_ID'].append(key)
    df_ceus_merged_data_1['Pred'].append(Pred_value)
    df_ceus_merged_data_1['Label'].append(1)

In [69]:
df1 = pd.DataFrame(df_ceus_merged_data_0)
df2 = pd.DataFrame(df_ceus_merged_data_1)

In [70]:
df2

      patient_ID      Pred  Label
0     2005050152  0.510683      1
1     2006180711  0.785324      1
2     2006260667  0.637014      1
3     2006260791  0.487293      1
4     2007020957  0.774744      1
..           ...       ...    ...
72    2204061771  0.554221      1
73    2305111175  0.649664      1
74    2307281516  0.596124      1
75    2308011043  0.558179      1
76  231024231775  0.459236      1

[77 rows x 3 columns]

In [71]:
df1

       patient_ID      Pred  Label
0      2004070156  0.530219      0
1      2004200282  0.468497      0
2      2005131682  0.491297      0
3      2005180570  0.412008      0
4      2005221627  0.494500      0
..            ...       ...    ...
104    2306141332  0.452598      0
105    2307211746  0.463861      0
106    2309263589  0.648470      0
107    2310085301  0.528989      0
108  231110331059  0.533826      0

[109 rows x 3 columns]

In [72]:
df = pd.concat([df1, df2], axis=0)
df

      patient_ID      Pred  Label
0     2004070156  0.530219      0
1     2004200282  0.468497      0
2     2005131682  0.491297      0
3     2005180570  0.412008      0
4     2005221627  0.494500      0
..           ...       ...    ...
72    2204061771  0.554221      1
73    2305111175  0.649664      1
74    2307281516  0.596124      1
75    2308011043  0.558179      1
76  231024231775  0.459236      1

[186 rows x 3 columns]

In [73]:
df.to_csv('ML_ceus.csv', index=False)

In [74]:
## Read merged results

In [75]:
df_ML_ceus = pd.read_csv('ML_ceus.csv', dtype={'patient_ID': str})
df_source = pd.read_excel('data.xlsx', dtype={'ID': str})

In [76]:
df_source['ML_Pred_ceus'] = None

In [77]:
for i, index1 in enumerate(df_source['ID']):
    for j, index2 in enumerate(df_ML_ceus['patient_ID']):
        if str(index1) == str(index2):
            df_source.iloc[i, 7] = df_ML_ceus.iloc[j, 1]

In [78]:
df_source

,ID,ceus,Thickness,t,type,ca199,label,ML_Pred_ceus
0,2004200282,2,0.9,2,bulging type,6.14,0,0.468497
1,2005210964,3,0.5,1,ulcerative type,6.04,0,None
2,2008040364,2,2.8,3,ulcerative type,8.45,1,0.630467
3,2008110235,2,1.7,3,ulcerative type,16.00,0,0.484874
4,2008201013,3,1.3,3,ulcerative type,45.60,1,0.775694
...,...,...,...,...,...,...,...,...
192,231113447942,2,1.5,2,ulcerative type,18.70,1,0.539547
193,231117032776,3,1.1,3,bulging type,7.44,0,0.547659
194,231121758369,3,1.5,3,ulcerative type,35.20,1,0.639801
195,231123534082,3,2.4,4,bulging type,23.20,1,None
196,231124129584,1,1.7,4,ulcerative type,8.09,0,0.464728

In [79]:
df_source.to_csv('data_Pred_ceus.csv', index=False)